<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <link href="/style/bootstrap.css" rel="stylesheet">
    <link href="/style/main.css" rel="stylesheet">
    <script type="text/javascript" src="js/paper.js"></script>

    <script type="text/javascript" src="js/fractal.js"></script>
  </head>

  <body>
    <div id="header">
      <div class='fractal'>
        <canvas id="fractal" width="258" height="258"></canvas>
      </div>

      <div class="title">
        <a href="http://twitter.com/qbitmage">@qbitmage</a><br/>
        <a href="http://github.com/bitmage">github/bitmage</a>
      </div>

      <div class='ascii'>
        {% include face.html %}
      </div>

      <hr>
      <div id="nav">
        <ul>
          <li>
            <a href="/">blog</a> |
          </li>
          <li>
            <a href="/faq">faq</a> |
          </li>
          <li>
            <a href="/work">work</a>
          </li>
        </ul>
      </div><br/>
      <hr>

    </div>

    <div class="container">

      <div class="content">
        {{ content }}
      </div>

      <footer>
        <p>&copy; {{ site.author.name }} 2012</p>
      </footer>

    </div>

  </body>
</html>
